{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register</h1>
    <div class="container">
        <div class="row">
            <div class="bg-light mt-4 p-4">
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        </br>
        {{ form_row(registrationForm.username) }}
        </br>
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        </br>
        {{ form_row(registrationForm.phone) }}
        </br>
        {{ form_row(registrationForm.address) }}
        </br>
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
    </div>
    </div>
    </div>
{% endblock %}
