{% extends 'base.html.twig' %}

{% block title %} les tendances d'anaëlle{% endblock %}
{% block body %}


    <!-- Breadcrumb Section End -->

                   {# {{dump()}}
                    {% for clothe in clothes %}
                    {{ dump(clothe)}}
                    {% endfor %} #}
                    
                        
                        {% for clothe in clothes %}
                        <div class ="product_wrapper">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item sale">
                            <h5>img/{{(clothe.imagefile)}}</h>
                                <div class="product__item__pic set-bg">
                                <img src="img/{{ clothe.imagefile }}"></img>
                                {# <div class="product__item__pic set-bg" data-setbg="./img/"> #}
                                
                                    <span class="label">Sale</span>
                                    <ul class="product__hover">
                                        <li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
                                        <li><a href="#"><img src="img/icon/compare.png" alt=""> <span>Compare</span></a>
                                        </li>
                                    </ul>
                                </div>
                                  
                                <div class="product__item__text">
                                    <h6>{{clothe.description}}</h6>
                                    <a href="#" class="add-cart">+ Add To Cart</a>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <h5>{{clothe.price}}</h5>
                                    
                                    {# <h5>$55</h5> #}
                                    <div class="product__color__select">
                                        <label for="pc-7">
                                            <input type="radio" id="pc-7">
                                        </label>
                                        <label class="active black" for="pc-8">
                                            <input type="radio" id="pc-8">
                                        </label>
                                        <label class="grey" for="pc-9">
                                            <input type="radio" id="pc-9">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%  endfor %}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product__pagination">
                                <a class="active" href="#">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <span>...</span>
                                <a href="#">21</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->
{% endblock %}